<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>chia</title>
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" type="text/sass" href="./style.sass"/>
  <link rel="stylesheet" href="./buefy.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
</head>

<body>
  <div id="app">
    <div id="desktopNavbar">
      <b-navbar>
        <template #brand>
          <b-navbar-item>
            <img src="logo.png">
          </b-navbar-item>
          <div>
            Chiabee，为矿场提供更专业的技术服务。
          </div>
        </template>
        <template #end>
          <b-navbar-item :active="activePage == 0" @click="switchPage(0)">
            首页
          </b-navbar-item>
          <b-navbar-item :active="activePage == 1" @click="switchPage(1)">
            区块链浏览器
          </b-navbar-item>
          <b-navbar-item :active="activePage == 2" @click="switchPage(2)">
            计算器 
          </b-navbar-item>
          <b-navbar-item :active="activePage == 3" @click="switchPage(3)">
            矿场监控
          </b-navbar-item>
          <b-navbar-item :active="activePage == 4" @click="switchPage(4)">
            关于我们
          </b-navbar-item>
        </template>
      </b-navbar>
    </div>

    <div id="mobileTopNavbar">
      <b-navbar :mobile-burger="false">
        <template #brand>
          <b-navbar-item>
            <img src="logo.png">
          </b-navbar-item>
          <div>
            Chiabee，为矿场提供更专业的技术服务。
          </div>
        </template>
      </b-navbar>
    </div>

    <div id="main">
      <div v-if="activePage == 0">
        <div class="box">
          <div class="heading">当前币价</div>
          <div class="title is-3">TODO</div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="box">
              <div class="heading">全网容量</div>
              <div v-if="farm" class="title is-5">{{farm.farm.totalSize}}</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
          <div class="box">
            <div class="heading">奇亚币总量</div>
            <div v-if="farm" class="title is-5">TODO</div>
            <div v-if="!farm" class="title is-5">Loading</div>
          </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">总价值</div>
              <div v-if="farm" class="title is-5">TODO</div>
            <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">收获的奇亚币</div>
              <div v-if="farm" class="title is-5">{{farm.farm.totalFarmed}}</div>
            <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">收获的奇亚币价值</div>
              <div v-if="farm" class="title is-5">TODO</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">难度系数</div>
              <div v-if="farm" class="title is-5">{{farm.node.difficulty}}</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">最新的收割区块高度</div>
              <div v-if="farm" class="title is-5">{{farm.node.height}}</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                <div>奇亚币收益计算器 </div>
                <div class="heading">根据农田数量及当前币价，预估耕种收益。</div>
              </div>
            </div>
            <div class="card-content">
              <div>
                <p class="title is-5">你的算力</p> 
                <p>(of size 101.4GiB, k=32)</p>
                <b-field>
                  <b-slider size="is-small" v-model="slider" :min="0" :max="99" :tooltip="false" :custom-formatter="(val) => this.sliderValue[parseInt(val)].toString()" v-on:input="setNPlot()"></b-slider>
                </b-field>
                <div class="columns">
                  <div class="column">
                    <b-field>
                      <b-input size="is-small" v-model="nPlot" :lazy="true" v-on:input="setSlider()"></b-input>
                      <p class="control">
                        <span class="button is-small">块农田</span>
                      </p>
                    </b-field>
                  </div>
                  <!-- TODO -->
                  <div v-if="calculator" class="column">
                    <b-field>
                      <p class="control">
                        <span class="button is-small">Assume 1 XCH =</span>
                      </p>
                      <b-input size="is-small" v-model="calculator.XCHprice" :lazy="true" v-on:input="calculate()"></b-input>
                      <p class="control">
                        <span class="button is-small">USD</span>
                      </p>
                    </b-field>
                  </div>
                </div>
                <div v-if="calculator" >
                  <div class="title is-4">Estimated Earnings</div>
                  <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Hourly XCH</div>
                        <div class="title is-5">{{ calculator.estimatedEarning.XCH.hour.toFixed(2) }}/hour</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Daily XCH</div>
                        <div class="title is-5">{{ calculator.estimatedEarning.XCH.day.toFixed(2) }}/day</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Monthly XCH</div>
                        <div class="title is-5">{{ calculator.estimatedEarning.XCH.month.toFixed(2) }}/month</div>
                      </div>
                    </div>
                  </nav>
                  <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Hourly USD</div>
                        <div class="title is-5">${{ calculator.estimatedEarning.USD.hour.toFixed(2) }}/hour</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Daily USD</div>
                        <div class="title is-5">${{ calculator.estimatedEarning.USD.day.toFixed(2) }}/day</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Monthly USD</div>
                        <div class="title is-5">${{ calculator.estimatedEarning.USD.month.toFixed(2) }}/month</div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <div class="card-content"></div>
          </div>
        </div>
        <div class="block">
          <div class="columns">
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">全网大小(PiB)</div>
                <div>TODO</div>
              </div>
            </div>
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">chia价格(USD)</div>
                <div>TODO</div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">每日营收(1TiB)</div>
                <div>TODO</div>
              </div>
            </div>
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">收获时间(1TiB)</div>
                <div>TODO</div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                <div>矿场监控</div>
                <div class="heading">实时查看并监控矿场工作状态及数据</div>
              </div>
            </div>
            <div class="card-content">
              <div v-if="diskMap">
                <div class="content">
                  <apexchart height="300" :options="diskMap.chartOptions" :series="diskMap.series"></apexchart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="activePage == 1">
        this is the explorer
      </div>
      <div v-if="activePage == 2" id="calculator">
        <b-loading v-model="calcLoading" :is-full-page="false"></b-loading>
        <div class="box" v-if="calculator">
          <p class="title is-5">你的算力</p> 
                <p>(of size 101.4GiB, k=32)</p>
                <b-field>
                  <b-slider size="is-small" v-model="slider" :min="0" :max="99" :tooltip="false" :custom-formatter="(val) => this.sliderValue[parseInt(val)].toString()" v-on:input="setNPlot()"></b-slider>
                </b-field>
                <div class="columns">
                  <div class="column">
                    <b-field>
                      <b-input size="is-small" v-model="nPlot" :lazy="true" v-on:input="setSlider()"></b-input>
                      <p class="control">
                        <span class="button is-small">块农田</span>
                      </p>
                    </b-field>
                  </div>
                  <!-- TODO -->
                  <div v-if="calculator" class="column" style="visibility: hidden;">
                    <b-field>
                      <p class="control">
                        <span class="button is-small">Assume 1 XCH =</span>
                      </p>
                      <b-input size="is-small" v-model="calculator.XCHprice" :lazy="true" v-on:input="calculate()"></b-input>
                      <p class="control">
                        <span class="button is-small">USD</span>
                      </p>
                    </b-field>
                  </div>
                </div>
        </div>

        <div v-if="calculator">
          <b-tabs type="is-boxed" expanded>
            <b-tab-item label="Simplified">
              <div class="box">
                <div class="title is-4">Network</div>
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Total network space</div>
                      <div class="title is-5">{{ calculator.totalNetSpace }}PiB</div>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Owned network space</div>
                      <div class="title is-5">{{ calculator.ownedNetSpace }}%</div>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Expected time to win</div>
                      <div class="title is-5">{{ calculator.expectTimeWin }}</div>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="box">
                <div class="title is-4">Estimated Earnings</div>
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Hourly XCH</div>
                      <div class="title is-5">{{ calculator.estimatedEarning.XCH.hour.toFixed(2) }}/hour</div>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Daily XCH</div>
                      <div class="title is-5">{{ calculator.estimatedEarning.XCH.day.toFixed(2) }}/day</div>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Monthly XCH</div>
                      <div class="title is-5">{{ calculator.estimatedEarning.XCH.month.toFixed(2) }}/month</div>
                    </div>
                  </div>
                </nav>
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Hourly USD</div>
                      <div class="title is-5">${{ calculator.estimatedEarning.USD.hour.toFixed(2) }}/hour</div>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Daily USD</div>
                      <div class="title is-5">${{ calculator.estimatedEarning.USD.day.toFixed(2) }}/day</div>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">Monthly USD</div>
                      <div class="title is-5">${{ calculator.estimatedEarning.USD.month.toFixed(2) }}/month</div>
                    </div>
                  </div>
                </nav>
              </div>
            </b-tab-item>

            <b-tab-item label="Advanced" id="advanced">
              <div class="box">
                <div class="title is-4">Earnings over time</div>
                <div class="columns">
                  <div class="column is-half">
                    <b-field horizontal label="Time Frame">
                      <b-select size="is-small" v-model="calculator.timeFrameUnit" v-on:input="calculate()">
                        <option value="1month">1 Month</option>
                        <option value="3month">3 Months</option>
                        <option value="6month">6 Months</option>
                        <option value="1year">1 Year</option>
                        <option value="3year">3 Years</option>
                        <option value="5year">5 Years</option>
                      </b-select>
                    </b-field>
                  </div>
                  <div class="column is-half">
                    <b-field horizontal label="Start Date">
                      <b-select size="is-small" v-model="calculator.startDate" v-on:input="calculate()">
                        <option value="today">Today</option>
                        <option value="mainet">Mainnet Launch</option>
                      </b-select>
                    </b-field>
                  </div>
                </div>
              </div>
              <div v-if="calculator.calculatorMap">
                <apexchart height="400" :options="calculator.calculatorMap.chartOptions" :series="calculator.calculatorMap.series"></apexchart>
              </div>
              <div class="box">
                <div class="title is-4">Plots</div>
                <div class="columns">
                  <div class="column is-one-third">
                    <b-field label="Initial size of plots">
                      <b-input size="is-small" :lazy="true" expanded v-model="calculator.initSize" v-on:input="calculate()" disabled></b-input>
                      <b-select size="is-small" v-model="calculator.initSizeUnit" disabled>
                        <option value="gib">GiB</option>
                      </b-select>
                    </b-field>
                  </div>
                  <div class="column is-one-third">
                    <b-field label="Plotting Speed">
                      <b-input size="is-small" :lazy="true" expanded v-model="calculator.plottingSpeed" v-on:input="calculate()"></b-input>
                      <b-select size="is-small" v-model="calculator.plottingSpeedUnit">
                        <option value="gib">GiB</option>
                      </b-select>
                    </b-field>
                    <div>Space plotted per day</div>
                  </div>
                  <div class="column is-one-third">
                    <b-field label="Max size of plots">
                      <b-input size="is-small" :lazy="true" expanded v-model="calculator.maxSize" v-on:input="calculate()" :disabled="calculator.unlimited"></b-input>
                      <b-select size="is-small" v-model="calculator.maxSizeUnit" :disabled="calculator.unlimited">
                        <option value="gib">GiB</option>
                      </b-select>
                    </b-field>
                    <b-field>
                      <b-checkbox v-model="calculator.unlimited" v-on:input="calculate()">Unlimited</b-checkbox>
                    </b-field>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="title is-4">Network Space</div>
                <div class="columns">
                  <div class="column is-one-third">
                    <b-field label="Initial size of network">
                      <b-input size="is-small" :lazy="true" expanded v-model="calculator.initNetSize" v-on:input="calculate()"></b-input>
                      <b-select size="is-small" v-model="calculator.initNetSizeUnit">
                        <option value="eib">EiB</option>
                      </b-select>
                    </b-field>
                  </div>
                  <div class="column is-one-third">
                    <b-field label="Network growth">
                      <p class="control">
                        <span class="button  is-small">%</span>
                      </p>
                      <b-input size="is-small" :lazy="true" expanded v-model="calculator.growthRate" v-on:input="calculate()"></b-input>
                      <b-select size="is-small" v-model="calculator.growthRatePeriod">
                        <option value="weekly">Weekly</option>
                      </b-select>
                    </b-field>
                  </div>
                  <div class="column is-one-third">
                    <b-field>
                      <b-checkbox v-model="calculator.unbounded" v-on:input="calculate()">Unbounded growth</b-checkbox>
                    </b-field>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">
                    <b-field label="Days of exponential growth">
                      <b-input size="is-small" :lazy="true" v-model="calculator.exponentialGrowth" v-on:input="calculate()"></b-input>
                    </b-field>
                  </div>
                  <div class="column is-one-third">
                    <b-field label="Days of stabilization">
                      <b-input size="is-small" :lazy="true" v-model="calculator.stabilization" v-on:input="calculate()"></b-input>
                    </b-field>
                  </div>
                  <div class="column is-one-third">
                    <b-field label="Stabilized daily growth">
                      <b-input size="is-small" :lazy="true" expanded v-model="calculator.stableDaily" v-on:input="calculate()"></b-input>
                      <b-select size="is-small" v-model="calculator.stableDailyUnit">
                        <option value="pib">PiB</option>
                      </b-select>
                    </b-field>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="title is-4">Estimated Total Earnings</div>
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">XCH after {{ calculator.timeFrame }} months</div>
                      <div class="title is-5">{{ calculator.totalXCH.toFixed(2) }}</div>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <div class="heading">USD after {{ calculator.timeFrame }} {{ calculator.timeFrameUnit }}</div>
                      <div class="title is-5">${{ calculator.totalEarningUSD.toFixed(2) }}</div>
                      </div>
                  </div>
                </nav>
              </div>
            </b-tab-item>
          </b-tabs>

          <div class="box">
            <div class="title is-4">Exchange Rate</div>
            <b-field>
              <p class="control">
                <span class="button  is-small">Assume 1 XCH =</span>
              </p>
              <b-input size="is-small" v-model="calculator.XCHprice" :lazy="true" v-on:input="calculate()"></b-input>
              <p class="control">
                <span class="button  is-small">USD</span>
              </p>
            </b-field>
          </div>
        </div>
      </div>
      <div v-if="activePage == 3">
        <div v-if="farm" class="card">
          <div class="card-content">
            <div class="content">
              <b-field grouped group-multiline>
                <div class="control">
                  <b-tooltip :label="'时间: ' + farm.node.time" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">同步状态</b-tag>
                      <b-tag type="is-success" v-if="farm.node.status == 'Full Node Synced'">{{farm.node.status}}</b-tag>
                      <b-tag type="is-danger" v-else>{{farm.node.status}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
                <div class="control">
                  <b-tooltip :label="'空间: ' + farm.farm.totalSize + '/' + farm.node.space" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">农场状态</b-tag>
                      <b-tag type="is-success" v-if="farm.farm.status == 'Farming'">{{farm.farm.status}}</b-tag>
                      <b-tag type="is-danger" v-else>{{farm.farm.status}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
                <div class="control">
                  <b-tooltip :label="'期望成功值: ' + farm.farm.expectedToWin" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">耕田数量</b-tag>
                      <b-tag type="is-primary">{{farm.farm.plotCount}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
                <div class="control">
                  <b-tooltip :label="'最后挖币高度: ' + farm.farm.lastFarmedHeight" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">总共挖币</b-tag>
                      <b-tag type="is-danger">{{farm.farm.totalFarmed}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
              </b-field>
    
              <b-collapse :open="false" position="is-bottom" aria-id="contentIdForA11y1">
                <template #trigger="props">
                  <a aria-controls="contentIdForA11y1">
                    <b-icon :icon="!props.open ? 'menu-down' : 'menu-up'"></b-icon>
                    {{ !props.open ? '显示全部' : '隐藏' }}
                  </a>
                </template>
                <b-field grouped group-multiline>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">高度</b-tag>
                      <b-tag type="is-info">{{farm.node.height}}</b-tag>
                    </b-taglist>
                  </div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">空间</b-tag>
                      <b-tag type="is-primary is-light">{{farm.farm.totalSize}}</b-tag>
                      <b-tag type="is-light">{{farm.node.space}}</b-tag>
                    </b-taglist>
                  </div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">难度</b-tag>
                      <b-tag type="is-light">{{farm.node.difficulty}}</b-tag>
                    </b-taglist>
                  </div>
    
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">交易费用</b-tag>
                      <b-tag type="is-light">{{farm.farm.txFees}}</b-tag>
                    </b-taglist>
                  </div>
    
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">奖励</b-tag>
                      <b-tag type="is-light">{{farm.farm.rewards}}</b-tag>
                    </b-taglist>
                  </div>
    
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">期望成功值</b-tag>
                      <b-tag type="is-light">{{farm.farm.expectedToWin}}</b-tag>
                    </b-taglist>
                  </div>
    
                </b-field>
              </b-collapse>
            </div>
          </div>
        </div>

        <div class="box">
          <div v-if="diskMap">
            <div class="content">
              <apexchart height="300" :options="diskMap.chartOptions" :series="diskMap.series"></apexchart>
            </div>
          </div>
        </div>

        <div class="block">
          <b-collapse class="card" animation="slide" :open="false">
            <template #trigger="props">
              <div class="card-header" role="button">
                  <p class="card-header-title">Plotting Progress</p>
                  <a class="card-header-icon">
                      <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
                  </a>
              </div>
            </template>
            <div class="card-content">
              <div v-if="!plot" class="content">Loading</div>
              <div v-if="plot" class="content">
                <div class="title is-5">{{plot.jobs.length}} Jobs</div>
                <div class="columns is-multiline is-mobile">
                  <div class="column is-half" v-for="job in plot.jobs">
                    <b-progress format="percent" :max="100">
                      <template #bar>
                        <b-progress-bar v-if="job.progress > 0" :value="job.progress > 35 ? 35 : job.progress" type="is-danger">
                        </b-progress-bar>
                        <b-progress-bar v-if="job.progress > 35" :value="job.progress > 56 ? 21 : job.progress - 35"
                          type="is-info">
                        </b-progress-bar>
                        <b-progress-bar v-if="job.progress > 56" :value="job.progress > 91 ? 35 : job.progress - 56"
                          type="is-warning">
                        </b-progress-bar>
                        <b-progress-bar v-if="job.progress > 91" :value="job.progress - 91" type="is-success">
                        </b-progress-bar>
                      </template>
                    </b-progress>
                    {{job.id}}: {{job.wallTime}}, {{job.phase}}, {{job.tempSize}}, {{job.tempDir}}
                  </div>
                </div>
              </div>
            </div>
          </b-collapse>
        </div>

        <div class="block">
          <div class="columns is-desktop">
            <div class="column is-half" v-for="machine in [plot, farm]">
              <nav v-if="machine" class="panel">
                <p class="panel-heading">
                  {{machine.name}}
                </p>
                <apexchart height="150" :options="machine.cpuMap.chartOptions" :series="machine.cpuMap.data"></apexchart>

                <div class="columns is-multiline is-mobile">
                  <template v-for="disk in machine.disks">
                    <div class="column is-half" v-if="disk.size > 1024*1024">
                      <b-progress :type="'is-' + getDiskProgressType(disk.used, disk.size)" :value="disk.used"
                        :max="disk.size" show-value>
                        {{disk.path}}: {{humanize(disk.used*1024)}}/{{humanize((disk.used+disk.available)*1024)}}
                        [{{Math.floor(disk.available / 106430464)}}]
                      </b-progress>
                    </div>
                  </template>
                </div>


                <div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">内存情况</b-tag>
                      <b-tag type="is-info">{{machine.memory.used}}</b-tag>
                      <b-tag type="is-info is-light">{{machine.memory.total}}</b-tag>
                    </b-taglist>
                  </div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">进程情况</b-tag>
                      <b-tag type="is-success">{{machine.process.running}}</b-tag>
                      <b-tag type="is-light">{{machine.process.sleeping}}</b-tag>
                      <b-tag type="is-warning">{{machine.process.stopped}}</b-tag>
                      <b-tag type="is-danger">{{machine.process.zombie}}</b-tag>
                      <b-tag type="is-info is-light">={{machine.process.total}}</b-tag>
                    </b-taglist>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div v-if="activePage == 4">
        this is the about
      </div>
    </div>

    <div id="mobileBottomNavbar">
      <b-navbar :fixed-bottom="true" :mobile-burger="false">
        <template #brand>
          <b-navbar-item :active="activePage == 0" @click="switchPage(0)">
            首页
          </b-navbar-item>
          <b-navbar-item :active="activePage == 1" @click="switchPage(1)">
            浏览器
          </b-navbar-item>
          <b-navbar-item :active="activePage == 3" @click="switchPage(3)">
            矿场监控
          </b-navbar-item>
          <b-navbar-item :active="activePage == 4" @click="switchPage(4)">
            关于
          </b-navbar-item>
        </template>
      </b-navbar>
    </div>
  
  </div>
  <script src="vue.js"></script>
  <script src="buefy.min.js"></script>
  <script src="apexcharts.js"></script>
  <script src="vue-apexcharts.js"></script>
  <script src="app.js"></script>
</body>

</html>