<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>chia</title>
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" type="text/sass" href="./style.sass"/>
  <link rel="stylesheet" href="./buefy.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
</head>

<body>
  <div id="app">
    <div id="desktopNavbar">
      <b-navbar>
        <template #brand>
          <b-navbar-item>
            <img src="logo.png">
          </b-navbar-item>
          <div>
            Chiabee，为矿场提供更专业的技术服务。
          </div>
        </template>
        <template #end>
          <b-navbar-item :active="activePage == 0" @click="switchPage(0)">
            首页
          </b-navbar-item>
          <b-navbar-item :active="activePage == 1" @click="switchPage(1)">
            区块链浏览器
          </b-navbar-item>
          <b-navbar-item :active="activePage == 2" @click="switchPage(2)">
            计算器 
          </b-navbar-item>
          <b-navbar-item :active="activePage == 3" @click="switchPage(3)">
            矿场监控
          </b-navbar-item>
          <b-navbar-item :active="activePage == 4" @click="switchPage(4)">
            关于我们
          </b-navbar-item>
        </template>
      </b-navbar>
    </div>

    <div id="mobileTopNavbar">
      <b-navbar :mobile-burger="false">
        <template #brand>
          <b-navbar-item>
            <img src="logo.png">
          </b-navbar-item>
          <div>
            Chiabee，为矿场提供更专业的技术服务。
          </div>
        </template>
      </b-navbar>
    </div>

    <div>
      <div v-if="activePage == 0">
        this is the landing page
      </div>
      <div v-if="activePage == 1">
        this is the explorer
      </div>
      <div v-if="activePage == 2">
        this is the calculator
      </div>
      <div v-if="activePage == 3">
        this is the miner watcher
      </div>
      <div v-if="activePage == 4">
        this is the about
      </div>
    </div>

    <div id="mobileBottomNavbar">
      <b-navbar :fixed-bottom="true" :mobile-burger="false">
        <template #brand>
          <b-navbar-item :active="activePage == 0" @click="switchPage(0)">
            首页
          </b-navbar-item>
          <b-navbar-item :active="activePage == 1" @click="switchPage(1)">
            浏览器
          </b-navbar-item>
          <b-navbar-item :active="activePage == 3" @click="switchPage(3)">
            矿场监控
          </b-navbar-item>
          <b-navbar-item :active="activePage == 4" @click="switchPage(4)">
            关于
          </b-navbar-item>
        </template>
      </b-navbar>
    </div>
  
  </div>
  <script src="vue.js"></script>
  <script src="buefy.min.js"></script>
  <script src="apexcharts.js"></script>
  <script src="vue-apexcharts.js"></script>
  <script src="app.js"></script>
</body>

</html>