<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>chia</title>
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" type="text/sass" href="./style.sass"/>
  <link rel="stylesheet" href="./buefy.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
</head>

<body>
  <div id="app">
    <div id="desktopNavbar">
      <b-navbar>
        <template #brand>
          <b-navbar-item>
            <img src="logo.png">
          </b-navbar-item>
          <div>
            Chiabee，为矿场提供更专业的技术服务。
          </div>
        </template>
        <template #end>
          <b-navbar-item :active="activePage == 0" @click="switchPage(0)">
            首页
          </b-navbar-item>
          <b-navbar-item :active="activePage == 1" @click="switchPage(1)">
            区块链浏览器
          </b-navbar-item>
          <b-navbar-item :active="activePage == 2" @click="switchPage(2)">
            计算器 
          </b-navbar-item>
          <b-navbar-item :active="activePage == 3" @click="switchPage(3)">
            矿场监控
          </b-navbar-item>
          <b-navbar-item :active="activePage == 4" @click="switchPage(4)">
            关于我们
          </b-navbar-item>
        </template>
      </b-navbar>
    </div>

    <div id="mobileTopNavbar">
      <b-navbar :mobile-burger="false">
        <template #brand>
          <b-navbar-item>
            <img src="logo.png">
          </b-navbar-item>
          <div>
            Chiabee，为矿场提供更专业的技术服务。
          </div>
        </template>
      </b-navbar>
    </div>

    <div>
      <div v-if="activePage == 0">
        <div class="box" style="margin-top: 22.5px;">
          <div class="heading">当前币价</div>
          <div class="title is-3">TODO</div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="box">
              <div class="heading">全网容量</div>
              <div v-if="farm" class="title is-5">{{farm.farm.totalSize}}</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
          <div class="box">
            <div class="heading">奇亚币总量</div>
            <div v-if="farm" class="title is-5">TODO</div>
            <div v-if="!farm" class="title is-5">Loading</div>
          </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">总价值</div>
              <div v-if="farm" class="title is-5">TODO</div>
            <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">收获的奇亚币</div>
              <div v-if="farm" class="title is-5">{{farm.farm.totalFarmed}}</div>
            <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">收获的奇亚币价值</div>
              <div v-if="farm" class="title is-5">TODO</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">难度系数</div>
              <div v-if="farm" class="title is-5">{{farm.node.difficulty}}</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">最新的收割区块高度</div>
              <div v-if="farm" class="title is-5">{{farm.node.height}}</div>
              <div v-if="!farm" class="title is-5">Loading</div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                <div>奇亚币收益计算器 </div>
                <div class="heading">根据农田数量及当前币价，预估耕种收益。</div>
              </div>
            </div>
            <div class="card-content">
              <div>
                <p class="title is-5">你的算力</p> 
                <p>(of size 101.4GiB, k=32)</p>
                <b-field>
                  <b-slider size="is-small" v-model="slider" :min="0" :max="99" :tooltip="false" :custom-formatter="(val) => this.sliderValue[parseInt(val)].toString()" v-on:input="setNPlot()"></b-slider>
                </b-field>
                <div class="columns">
                  <div class="column">
                    <b-field>
                      <b-input size="is-small" v-model="nPlot" :lazy="true" v-on:input="setSlider()"></b-input>
                      <p class="control">
                        <span class="button is-small">块农田</span>
                      </p>
                    </b-field>
                  </div>
                  <!-- TODO -->
                  <div v-if="calculator" class="column">
                    <b-field>
                      <p class="control">
                        <span class="button is-small">Assume 1 XCH =</span>
                      </p>
                      <b-input size="is-small" v-model="calculator.XCHprice" :lazy="true" v-on:input="calculate()"></b-input>
                      <p class="control">
                        <span class="button is-small">USD</span>
                      </p>
                    </b-field>
                  </div>
                </div>
                <div v-if="calculator" >
                  <div class="title is-4">Estimated Earnings</div>
                  <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Hourly XCH</div>
                        <div class="title is-5">{{ calculator.estimatedEarning.XCH.hour.toFixed(2) }}/hour</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Daily XCH</div>
                        <div class="title is-5">{{ calculator.estimatedEarning.XCH.day.toFixed(2) }}/day</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Monthly XCH</div>
                        <div class="title is-5">{{ calculator.estimatedEarning.XCH.month.toFixed(2) }}/month</div>
                      </div>
                    </div>
                  </nav>
                  <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Hourly USD</div>
                        <div class="title is-5">${{ calculator.estimatedEarning.USD.hour.toFixed(2) }}/hour</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Daily USD</div>
                        <div class="title is-5">${{ calculator.estimatedEarning.USD.day.toFixed(2) }}/day</div>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <div class="heading">Monthly USD</div>
                        <div class="title is-5">${{ calculator.estimatedEarning.USD.month.toFixed(2) }}/month</div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <div class="card-content"></div>
          </div>
        </div>
        <div class="block">
          <div class="columns">
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">全网大小(PiB)</div>
                <div>TODO</div>
              </div>
            </div>
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">chia价格(USD)</div>
                <div>TODO</div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">每日营收(1TiB)</div>
                <div>TODO</div>
              </div>
            </div>
            <div class="column is-half">
              <div class="box">
                <div class="title is-5">收获时间(1TiB)</div>
                <div>TODO</div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                <div>矿场监控</div>
                <div class="heading">实时查看并监控矿场工作状态及数据</div>
              </div>
            </div>
            <div class="card-content">
              <div v-if="diskMap">
                <div class="content">
                  <apexchart height="300" :options="diskMap.chartOptions" :series="diskMap.series"></apexchart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="activePage == 1">
        this is the explorer
      </div>
      <div v-if="activePage == 2">
        this is the calculator
      </div>
      <div v-if="activePage == 3">
        <div v-if="farm" class="card">
          <div class="card-content">
            <div class="content">
              <b-field grouped group-multiline>
                <div class="control">
                  <b-tooltip :label="'时间: ' + farm.node.time" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">同步状态</b-tag>
                      <b-tag type="is-success" v-if="farm.node.status == 'Full Node Synced'">{{farm.node.status}}</b-tag>
                      <b-tag type="is-danger" v-else>{{farm.node.status}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
                <div class="control">
                  <b-tooltip :label="'空间: ' + farm.farm.totalSize + '/' + farm.node.space" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">农场状态</b-tag>
                      <b-tag type="is-success" v-if="farm.farm.status == 'Farming'">{{farm.farm.status}}</b-tag>
                      <b-tag type="is-danger" v-else>{{farm.farm.status}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
                <div class="control">
                  <b-tooltip :label="'期望成功值: ' + farm.farm.expectedToWin" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">耕田数量</b-tag>
                      <b-tag type="is-primary">{{farm.farm.plotCount}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
                <div class="control">
                  <b-tooltip :label="'最后挖币高度: ' + farm.farm.lastFarmedHeight" position="is-bottom">
                    <b-taglist attached>
                      <b-tag type="is-dark">总共挖币</b-tag>
                      <b-tag type="is-danger">{{farm.farm.totalFarmed}}</b-tag>
                    </b-taglist>
                  </b-tooltip>
                </div>
    
              </b-field>
    
              <b-collapse :open="false" position="is-bottom" aria-id="contentIdForA11y1">
                <template #trigger="props">
                  <a aria-controls="contentIdForA11y1">
                    <b-icon :icon="!props.open ? 'menu-down' : 'menu-up'"></b-icon>
                    {{ !props.open ? '显示全部' : '隐藏' }}
                  </a>
                </template>
                <b-field grouped group-multiline>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">高度</b-tag>
                      <b-tag type="is-info">{{farm.node.height}}</b-tag>
                    </b-taglist>
                  </div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">空间</b-tag>
                      <b-tag type="is-primary is-light">{{farm.farm.totalSize}}</b-tag>
                      <b-tag type="is-light">{{farm.node.space}}</b-tag>
                    </b-taglist>
                  </div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">难度</b-tag>
                      <b-tag type="is-light">{{farm.node.difficulty}}</b-tag>
                    </b-taglist>
                  </div>
    
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">交易费用</b-tag>
                      <b-tag type="is-light">{{farm.farm.txFees}}</b-tag>
                    </b-taglist>
                  </div>
    
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">奖励</b-tag>
                      <b-tag type="is-light">{{farm.farm.rewards}}</b-tag>
                    </b-taglist>
                  </div>
    
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">期望成功值</b-tag>
                      <b-tag type="is-light">{{farm.farm.expectedToWin}}</b-tag>
                    </b-taglist>
                  </div>
    
                </b-field>
              </b-collapse>
            </div>
          </div>
        </div>

        <div class="box">
          <div v-if="diskMap">
            <div class="content">
              <apexchart height="300" :options="diskMap.chartOptions" :series="diskMap.series"></apexchart>
            </div>
          </div>
        </div>

        <div class="block">
          <b-collapse class="card" animation="slide" :open="false">
            <template #trigger="props">
              <div class="card-header" role="button">
                  <p class="card-header-title">Plotting Progress</p>
                  <a class="card-header-icon">
                      <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
                  </a>
              </div>
            </template>
            <div class="card-content">
              <div v-if="!plot" class="content">Loading</div>
              <div v-if="plot" class="content">
                <div class="title is-5">{{plot.jobs.length}} Jobs</div>
                <div class="columns is-multiline is-mobile">
                  <div class="column is-half" v-for="job in plot.jobs">
                    <b-progress format="percent" :max="100">
                      <template #bar>
                        <b-progress-bar v-if="job.progress > 0" :value="job.progress > 35 ? 35 : job.progress" type="is-danger">
                        </b-progress-bar>
                        <b-progress-bar v-if="job.progress > 35" :value="job.progress > 56 ? 21 : job.progress - 35"
                          type="is-info">
                        </b-progress-bar>
                        <b-progress-bar v-if="job.progress > 56" :value="job.progress > 91 ? 35 : job.progress - 56"
                          type="is-warning">
                        </b-progress-bar>
                        <b-progress-bar v-if="job.progress > 91" :value="job.progress - 91" type="is-success">
                        </b-progress-bar>
                      </template>
                    </b-progress>
                    {{job.id}}: {{job.wallTime}}, {{job.phase}}, {{job.tempSize}}, {{job.tempDir}}
                  </div>
                </div>
              </div>
            </div>
          </b-collapse>
        </div>

        <div class="block">
          <div class="columns is-desktop">
            <div class="column is-half" v-for="machine in [plot, farm]">
              <nav v-if="machine" class="panel">
                <p class="panel-heading">
                  {{machine.name}}
                </p>
                <apexchart height="150" :options="machine.cpuMap.chartOptions" :series="machine.cpuMap.data"></apexchart>

                <div class="columns is-multiline is-mobile">
                  <template v-for="disk in machine.disks">
                    <div class="column is-half" v-if="disk.size > 1024*1024">
                      <b-progress :type="'is-' + getDiskProgressType(disk.used, disk.size)" :value="disk.used"
                        :max="disk.size" show-value>
                        {{disk.path}}: {{humanize(disk.used*1024)}}/{{humanize((disk.used+disk.available)*1024)}}
                        [{{Math.floor(disk.available / 106430464)}}]
                      </b-progress>
                    </div>
                  </template>
                </div>


                <div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">内存情况</b-tag>
                      <b-tag type="is-info">{{machine.memory.used}}</b-tag>
                      <b-tag type="is-info is-light">{{machine.memory.total}}</b-tag>
                    </b-taglist>
                  </div>
                  <div class="control">
                    <b-taglist attached>
                      <b-tag type="is-dark">进程情况</b-tag>
                      <b-tag type="is-success">{{machine.process.running}}</b-tag>
                      <b-tag type="is-light">{{machine.process.sleeping}}</b-tag>
                      <b-tag type="is-warning">{{machine.process.stopped}}</b-tag>
                      <b-tag type="is-danger">{{machine.process.zombie}}</b-tag>
                      <b-tag type="is-info is-light">={{machine.process.total}}</b-tag>
                    </b-taglist>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div v-if="activePage == 4">
        this is the about
      </div>
    </div>

    <div id="mobileBottomNavbar">
      <b-navbar :fixed-bottom="true" :mobile-burger="false">
        <template #brand>
          <b-navbar-item :active="activePage == 0" @click="switchPage(0)">
            首页
          </b-navbar-item>
          <b-navbar-item :active="activePage == 1" @click="switchPage(1)">
            浏览器
          </b-navbar-item>
          <b-navbar-item :active="activePage == 3" @click="switchPage(3)">
            矿场监控
          </b-navbar-item>
          <b-navbar-item :active="activePage == 4" @click="switchPage(4)">
            关于
          </b-navbar-item>
        </template>
      </b-navbar>
    </div>
  
  </div>
  <script src="vue.js"></script>
  <script src="buefy.min.js"></script>
  <script src="apexcharts.js"></script>
  <script src="vue-apexcharts.js"></script>
  <script src="app.js"></script>
</body>

</html>