.slogan {
    margin-top: 24px;
    font-size: small;
    color: gold;
}

#main {
    padding: 16px; 
}

#chiaPrice .title, #netInfo .title {
    color: #00FF00;
    font-weight: bold;
}

.card-header-title > .title-only { 
    font-size: large;
    color: #04F0F3;
}

.card-header-title > .heading {
    padding-left: 20px;
    padding-top: 8px;
}

#calculator .tab-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

@media screen and (min-width: 769px) {
    #mobileBottomNavbar, #mobileTopNavbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #desktopNavbar {
        display: none;
    }

    #mobileBottomNavbar, #mobileTopNavbar {
        display: block;
    }

    #mobileBottomNavbar {
        bottom: 0;
    }
}